.h1pro{
    text-align: center;
    font-family: $fuente-secundaria;
    font-size: 3.5em;
    color: $color-letras;
}
.renderh2{
    text-align: center;
    font-family: $fuente-secundaria;
    font-size: 3.5em;
    color: $color-letras
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin-bottom: 20px;
        /*Las imagenes solas*/
    .imagenes{
        @include imagen;
    }

        /* Contenedores de las imagenes*/
        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            border: 1px solid $color-principal;
            object-fit: fill;
            -o-object-fit: fill;
        }
}

@media #{map-get($media-queries, mobile)}{
    .navbar {
        align-self: baseline;
        z-index:  1;
    }
    .gallery{
        flex-direction: column;
        align-content: center;
    }
    .imagenes{
        width: 100%; 
    }
}