*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body {
    font-family: cinematografica, Louis George Cafe;
    src: url(./Cinematografica-Regular-trial.ttf);
    src: url(./Louis\ George\ Cafe.ttf);
    background-image: url(../Imagenes/Fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 85px;
    width: 100%;
    justify-content: space-between;
    color: rgb(247, 247, 247);
    padding: 10px 0;
    text-align: center;
}
.logo{
    display: flex;
    padding-left: 100px;
    padding-top: 10px;
    gap: 2px;
}

.img-logo {
    height: 60px;
    border-radius: 50px;
}

.letras{
    padding-right: 100px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

nav ul li {
    margin: 0px 25px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 1.1px;
}

/* Hero Section */
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    overflow: hidden;
}
.imageninicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Louis George Cafe";
    padding-bottom: 60px;
}

.imagini{
    height: 300px;
    width: 700px;
    margin-bottom: 20px;
}

img {
    object-fit: fill;
}
.bodydiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide_div {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgeH {
    width: 300px;
    height: auto;
}

.imgeH {
    width: auto;
    height: 450px;
}
.slide_div img {
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    max-width: 600px;
    max-height: 70vh;
}

/* About Section */
.about  {
    background: rgb(254,240,217);
    background: radial-gradient(circle, rgba(254,240,217,1) 34%, rgba(255,255,255,1) 97%);
    padding: 70px 100px;
    text-decoration: none;
    font-family: "Louis George Cafe";
}
.box {
    margin-left: 50px;
}
.cajaAbout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cajapelotita{
    display: flex;
    justify-content: flex-start;
    gap: 10px;    
}
.greenball{
    background-color: #6C8947;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.redball{
    background-color: #EE6C2E;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.yellowball{
    background-color: #F6C918;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.info h3{
    font-size: 54px;
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.2;
}
.info h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 30px;
}

.info {
    max-width: 500px;
    margin: 0 auto;
}
.boton-insta {
    margin-top: 100px;
    padding: 15px 40px;
    background-color: #F6C918;
    border: none;
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 30px;
    font-family: "Louis George Cafe";
    &:hover{
        background-color: #cca118;
        cursor: pointer;
    }
}
.imagenabout{
    height: 650px;
    width: 450px;
    border-radius: 20px;
}
/* Process Section */
.hero2{
    background: rgb(254,240,217);
    background: radial-gradient(circle, rgba(254,240,217,1) 34%, rgba(255,255,255,1) 97%);
    padding: 0 100px;
}
.proceso {
    display: flex;
    background-image: url(/Imagenes/Fondo.jpg);
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 40px 0;
    border-radius: 25px;
}
.hero2 h2{
    text-align: center;
    font-family: "Louis George Cafe";
    font-size: 40px;
    padding: 20px 0;
}

.imagenPro {
    height: 650px;
    width: 450px;
    box-sizing: border-box;
    border-radius: 25px;
    margin-left: 60px;
}
.steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
    padding-right: 20px;
}
.caja1{
    width: 100%;
    display: flex;
    justify-content: end;
}
.caja2{
    display: flex;
    padding-left: 10px;
    padding-top: 30px;
}
.caja3{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 5px;
}
.clip{
    width: 100%;
    height: 100%;
}
.pin{
    height: 55px;
    width: 50px;
    position: relative;
    z-index: 1;
    top: -30px;
    left: 280px;
}
.step1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
    border-radius: 10px;
    height: 200px;
    width: 330px;
    background-color: #6C8947;
}
.postit{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    align-self: flex-end;
}
.postit2{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    align-self: flex-end;
}
.postit3{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    align-self: flex-end;
}
.step2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 15px 0 15px;
    border-radius: 10px;
    height: 200px;
    width: 330px;
    background-color: #EE6C2E;
}
.step3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
    border-radius: 10px;
    height: 200px;
    width: 330px;
    background-color: #F6C918;
}
.pasosh1{
    color: #FFFFFF;
    font-family: "Louis George Cafe";
    font-size: 16px;
}
.pasop1{
    color: #DECFAD;
    text-align: start;
    font-size: 13px;
    font-family: "Louis George Cafe";
}

.pasosh2{
    color: #FFFFFF;
    font-family: "Louis George Cafe";
    font-size: 16px;
}

.pasop2{
    color: #DECFAD;
    text-align: start;
    font-size: 13px;
    font-family: "Louis George Cafe";
}

.pasosh3{
    color: black;
    font-family: "Louis George Cafe";
    font-size: 16px;
}

.pasop3{
    color: #2B3035;
    text-align: start;
    font-size: 13px;
    font-family: "Louis George Cafe";
}
/* Services Section */

.hero3{
    background: rgb(254,240,217);
    background: radial-gradient(circle, rgba(254,240,217,1) 34%, rgba(255,255,255,1) 97%);
    padding: 50px 100px;
    text-align: center;
    font-family: "Louis George Cafe";
    overflow: hidden;
}
.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servtext{
    padding-left: 10px;
    margin: 40px 0;
}
.servtext h2{
    font-size: 40px;
}
.hero3 p{
    font-size: 18px;
    margin-bottom: 5px;

}
.hero3 h5{
    font-size: 20px;
}
.tarjetasServ{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 40px 0;
}
.img-serv{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}
.tarjServ{
    padding: 70px 15px;
    margin: 0 5px;
}

/* Footer Section */
footer{
    background: rgb(254,240,217);
    background: radial-gradient(circle, rgba(254,240,217,1) 34%, rgba(255,255,255,1) 97%);
}
.con{
    background: rgb(254,240,217);
    background: radial-gradient(circle, rgba(254,240,217,1) 34%, rgba(255,255,255,1) 97%);
    padding: 10px 100px 50px 100px;

}
.contact{
    background-image: url(/Imagenes/Fondo.jpg);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}
.letrascont{
    text-align: center;
}
.infocont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0 0 10px;
}
.FormasCont {
    font-size: 1.7rem;
    color: black;
    font-family: "Louis George Cafe";
}
.Formo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contactito{
    font-size: 1rem;
    color: black;
    font-family: "Louis George Cafe";
}

.contact-a{
    text-align: center;
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-left: 50px;
}
.minita{
    margin-top: 50px;
    height: 450px;
    width: auto;
    position: relative;
    z-index: 1;
    bottom: -50px;
}

/*formulario*/
.Formh1 {
    font-size: 42px;
    font-family: "Louis George Cafe";
}
form {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    .formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
    }

    .fieldgrid{
        display: flex;
        gap: 10px;
    }


    .formulario label{
        font-size: 18px;
        font-family: "Louis George Cafe";
        color: black;
    }


    .input-container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 4px;
        input,textarea{
            background-color: FDFDFC;
            border-radius: 1rem;
            border: none;
            padding: .7rem;
            font-family: "Louis George Cafe";
            appearance: none;
        }
        textarea{
            width: 24.5rem;
            height: 7rem;
        }
    }
    .buttonform {
        height: auto;
        width: 8rem;
        padding: 10px;
        margin: .7rem 0;
        border-radius: 25px;
        background-color: #F6C918;
        color: black;
        font-family: "Louis George Cafe";
        font-size: 20px;
            &:hover{
            background-color: #cca118;
            cursor: pointer;
        }
    }
}

/* Cartel de confirmacion de mensaje enviado */

    .success-message {
    display: none; 
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: "Louis George Cafe";
    z-index: 1000;
    font-size: 16px;
}

    /* animación de aparición y desaparición */
    .fade-in-out {
    animation: fadeInOut 4s ease-in-out;
}

    @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/* versio mobile */

@media screen and (max-width: 1024px) {
    body {
        line-height: 1.4;
    }

    header {
        justify-content: center;
        align-items: center;
        height: 150px;
        padding: 10px;
    }

    .logo {
        padding-left: 0;
        padding-top: 0;
    }

    .letras {
        padding-right: 0;
        padding-top: 10px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 24px;
    }

    .hero {
        padding: 1rem;
    }
    .hero h2{
        text-align: center;
    }
    .imageninicial {
        padding-bottom: 30px;
    }

    .imagini {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .bodydiv {
        height: auto;
        flex-direction: column;
        padding: 20px 0;
    }

    .slider-container {
        max-width: 100%;
    }
    
    .slide_div {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgeH{
        display: none;
    }   
    .imgeV {
        width: 100%;
        height: auto;
    }
    /* seccion about mobile */
    .cajapelotita{
        justify-content: center;
    }
    .info-p2{
        text-align: center;
    }
    .boton-insta{
        padding-bottom: 10px;
    }
    .cajaAbout {
        flex-direction: column;
        text-align: center;
    }

    .imagenabout {
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    /* seccion hero2 */
    .hero2 .imagenPro{
        display: none;
    }
    .about, .hero2, .hero3 {
        padding: 45px 20px;
    }

    .box {
        margin-left: 0;
    }

    .proceso {
        flex-direction: column;
        padding: 20px 10px;
    }

    .imagenPro {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .steps {
        width: 100%;
        padding-right: 0;
        margin-right: 10px;
    }

    .caja1, .caja2, .caja3 {
        justify-content: center;
        padding: 10px 0;
    }

    .step1, .step2, .step3 {
        margin: 10px 0;
    }
    /* Hero 3 mobile */
    
    .tarjetasServ {
        flex-direction: column;
        margin: 20px 0;
    }

    .tarjServ {
        padding: 30px 10px;
        margin: 10px 0;
    }

    .con {
        padding: 20px;
    }

    .contact {
        flex-direction: column;
        padding: 20px 10px;
    }
    .infocont{
        padding: 0;
    }
    .fieldgrid {
        flex-direction: column;
    }

    .input-container {
        width: 100%;
    }
    
    .input-container input, .input-container textarea {
        width: 100%;
        box-sizing: border-box;
    }

    .minita {
        margin-top: -10px;
        width: 100%;
        height: auto;
    }
}

